<div class="container mt-3">
    <div class="card text-center mb-3">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero enim, finibus sit amet nibh nec, blandit molestie eros. Vivamus ultrices sem a enim accumsan feugiat. Ut viverra aliquet ante sed accumsan. In vel odio vel ipsum molestie vestibulum. Maecenas rhoncus arcu urna, non mattis orci ultrices a. Donec est lorem, ultricies vel malesuada ac, condimentum et turpis. Pellentesque eget justo eu diam convallis commodo. In sit amet nulla nec nisi pretium consectetur a sit amet neque. Suspendisse quis lectus sit amet sem efficitur elementum eu vitae augue. Proin bibendum efficitur libero ut accumsan. In bibendum consequat rhoncus. Ut tortor elit, convallis vitae hendrerit vitae, pharetra sed neque. Proin a interdum dui. Nulla in enim iaculis, lacinia elit viverra, vehicula massa.</p>
        </div>
    </div>
    <div class="card text-center mb-3">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero enim, finibus sit amet nibh nec, blandit molestie eros. Vivamus ultrices sem a enim accumsan feugiat. Ut viverra aliquet ante sed accumsan. In vel odio vel ipsum molestie vestibulum. Maecenas rhoncus arcu urna, non mattis orci ultrices a. Donec est lorem, ultricies vel malesuada ac, condimentum et turpis. Pellentesque eget justo eu diam convallis commodo. In sit amet nulla nec nisi pretium consectetur a sit amet neque. Suspendisse quis lectus sit amet sem efficitur elementum eu vitae augue. Proin bibendum efficitur libero ut accumsan. In bibendum consequat rhoncus. Ut tortor elit, convallis vitae hendrerit vitae, pharetra sed neque. Proin a interdum dui. Nulla in enim iaculis, lacinia elit viverra, vehicula massa.</p>
        </div>
    </div>
    <div class="card text-center mb-3">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero enim, finibus sit amet nibh nec, blandit molestie eros. Vivamus ultrices sem a enim accumsan feugiat. Ut viverra aliquet ante sed accumsan. In vel odio vel ipsum molestie vestibulum. Maecenas rhoncus arcu urna, non mattis orci ultrices a. Donec est lorem, ultricies vel malesuada ac, condimentum et turpis. Pellentesque eget justo eu diam convallis commodo. In sit amet nulla nec nisi pretium consectetur a sit amet neque. Suspendisse quis lectus sit amet sem efficitur elementum eu vitae augue. Proin bibendum efficitur libero ut accumsan. In bibendum consequat rhoncus. Ut tortor elit, convallis vitae hendrerit vitae, pharetra sed neque. Proin a interdum dui. Nulla in enim iaculis, lacinia elit viverra, vehicula massa.</p>
        </div>
    </div>
</div>