<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-bg-primary" routerLink="">
        <img src="assets/logo-site.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Site web
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-bg-primary" aria-current="page" routerLink="">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-bg-primary" routerLink="/contact">Nous contacter</a>
          </li>
        </ul>
        <form class="d-flex" routerLink="/login">
          <button class="btn btn-outline-light" type="submit">Se connecter</button>
        </form>
      </div>
    </div>
</nav>
