<section class="container-sm mt-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <label for="name" class="form-label">Votre nom :</label>
            </span>
            <input type="text" id="name" class="form-control" placeholder="DUBOIS" formControlName="name" required>
            <div class="invalid-feedback">
                Veuillez saisir votre nom.
            </div>
            <span class="input-group-text">
                <label for="fName" class="form-label">Votre prénom :</label>
            </span>
            <input type="text" id="fName" class="form-control" placeholder="Germaine" formControlName="fName" required>
            <div class="invalid-feedback">
                Veuillez saisir votre prénom.
            </div>
        </div>
        <div class="mb-3">
            <label for="pseudo" class="form-label">Votre nom d'utilisateur :</label>
            <input type="text" id="pseudo" class="form-control" placeholder="JAimeLesBananes39" formControlName="pseudo" required>
            <div class="invalid-feedback">
                Veuillez choisir un pseudo.
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Votre email :</label>
            <input type="email" id="email" class="form-control" placeholder="exemple@serveur.fr" formControlName="email" required>
            <div class="invalid-feedback">
                Veuillez saisir votre adresse email.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Votre mot de passe :</label>
            <input type="password" id="password" class="form-control" formControlName="password" required>
            <div class="invalid-feedback">
                Veuillez choisir un mot de passe.
            </div>
        </div>
        <div class="mb-3">
            <label for="cpassword" class="form-label">Confiermer votre mot de passe :</label>
            <input type="password" id="cpassword" class="form-control" formControlName="cPassword" required>
            <div class="invalid-feedback">
                Veuillez confirmer votre mot de passe.
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" id="cguaccept" class="form-check-input" value="" required>
            <label for="cguaccept" class="form-check-label">J'accepte les Conditions Générales d'Utilisation</label>
            <div class="invalid-feedback">
                Veuillez cocher cette case.
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </form>
</section>
